{% extends 'website/base.html' %}
{% load staticfiles %}
<link href="{% static 'website/css/main.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
{% block body %}
<div class="container">
    <h1>Register</h1>
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Register" />
    </form>
    <a href="/">Login</a>
</div>
{% endblock %}
